@import '../../../dist/css/variables';


.card {
    border-radius: 10px;
    padding: 13px;
    border: none;

    &_dark{
        background-color: $black;
    }
    &_light{
        background-color: $light-black;
    }
    &_yellow{
        background-color: $teal;
    }
    &_primary{
        background-color: $dark-teal;
    }
    &_pink{
        background-color: $pink;
    }

}

