@import '../../../dist/css/variables';

.nav_link {

    li{
        width: 180px;
        border-radius: 5px;
        padding: 8px;
    

    &:hover{
        color: $teal;
        text-decoration: none;
        background-color: $light-black;

    }
    }
}